.items {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     column-gap: 20px;
     row-gap: 20px;

     @media all and (max-width: 1280px) {
          grid-template-columns: repeat(4, 1fr);
     }

     @media all and (max-width: 959px) {
          grid-template-columns: repeat(3, 1fr);
     }

     @media all and (max-width: 640px) {
          grid-template-columns: repeat(2, 1fr);
          column-gap: 10px;
          row-gap: 10px;
     }
}
