.profilePage {
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 120px);
  @keyframes rotating {
    0% {
      transform: scale(0.8) rotate(0);
      opacity: 0;
    }

    50% {
      transform: scale(1) rotate(-180deg);
      transform: scale(1) rotate(-180deg);
      opacity: 0.3;
    }

    100% {
      transform: scale(0.8) rotate(-360deg);
      opacity: 0;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    opacity: .3;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../../public/images/formBg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    animation: rotating 10s linear infinite;
  }
}