.title {
     font-weight: 400;
     color: var(--color-white);
     margin-bottom: 27px;

     @media all and (max-width: 479px) {
          font-size: 25px;
          margin-bottom: 20px;
     }
}

.title-xl {
     font-size: 40px;
}

.title-l {
     font-size: 30px;
}

.title-s {
     font-size: 25px;
}

.title-m {
     font-size: 20px;
}