html, body {
     font-family: var(--main-font), sans-serif;
}

body {
     min-width: var(--min-width);
     min-height: 100%;
     font-weight: 300;
     font-size: 16px;
     overflow-anchor: none;
     background-color: var(--color-black);
     color: var(--color-white);
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.container {
     max-width: var(--container-max-width);
     width: 100%;
     margin-left: auto;
     margin-right: auto;
}

#root {
     ul {
          display: flex;
          align-items: stretch;
          flex-wrap: wrap;
          list-style: none;
          column-gap: 20px;
          img {
               max-width: 80px;
          }
     }
}


.swiper-button-prev, .swiper-button-next {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 50px;
     height: 70px;
     z-index: 5;
     cursor: pointer;
     &.swiper-button-disabled {
          display: none;
     }

     &:after, &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
     }

     &:after {
          background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9063 26.375L8.37504 15.875C8.25728 15.7612 8.1667 15.6224 8.11004 15.4688C8.05673 15.3183 8.03008 15.1596 8.03129 15C8.03013 14.8404 8.05678 14.6817 8.11004 14.5313C8.16674 14.3776 8.25731 14.2388 8.37504 14.125L18.9063 3.59375C19.1975 3.3025 19.5625 3.15625 20 3.15625C20.4375 3.15625 20.8125 3.3125 21.125 3.625C21.4375 3.9375 21.5938 4.3025 21.5938 4.71875C21.5944 4.92339 21.5531 5.126 21.4725 5.3141C21.3919 5.50219 21.2736 5.67181 21.125 5.8125L11.9375 15L21.125 24.1875C21.4163 24.4788 21.5625 24.8375 21.5625 25.265C21.5625 25.6925 21.4063 26.0625 21.0938 26.375C20.9531 26.5236 20.7835 26.6419 20.5954 26.7225C20.4073 26.8031 20.2047 26.8444 20 26.8438C19.7954 26.8444 19.5928 26.8031 19.4047 26.7225C19.2166 26.6419 19.047 26.5236 18.9063 26.375Z' fill='white'/%3E%3C/svg%3E%0A");
          background-position: center;
          background-size: 24px;
          background-repeat: no-repeat;
     }

     &:before {
          border-radius: var(--radius-large);
          background-color: rgba(34, 34, 37, .6);
          backdrop-filter: blur(var(--blur-medium));
          transition: var(--transition);
     }
     &:hover {
          &:before {
               background-color: rgba(42,42,46,.6);
               transform: scale(1.2);  
          }
     }


}

.swiper-button-prev {
     left: 100px;
}

.swiper-button-next {
     right: 100px;
     &::after {
          transform: rotate(180deg);
     }
}


.App {
     display: flex;
     flex-direction: column;
     justify-content: stretch;
     flex: 1;

     main {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: stretch;
     }
}

#root {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}