:root {
     --color-white: #fff;
     --color-black: #000;
     --color-gray: rgb(121, 121, 121);
     --color-light-gray: #b9b9b9;
     --color-main: #406AFF;
     --color-main-hover: #6587ff;
     --color-border: #5b5b5b21;

     --blur-small: 10px;
     --blur-medium: 14px;
     --blur-large: 20px;

     --primary: #222225;
     --primary-hover: #2A2A2E;
     --primary-dark: #161515;

     --danger: #c25656;
     --danger-hover: #d56262;


     --main-font: 'OpenSans';

     --radius-small: 3px;
     --radius-medium: 5px;
     --radius-semi: 8px;
     --radius-large: 10px;

     --transition: 0.3s;

     --min-width: 360px;
     --container-max-width: 1400px;

     --toastify-color-light: var(--primary);
     --toastify-text-color-light: var(--color-white);
     --toastify-color-progress-error: var(--danger);
     --toastify-icon-color-error: var(--danger);
     --toastify-color-progress-success: var(--color-main);
     --toastify-icon-color-success: var(--color-main);
     --toastify-toast-bd-radius: 0;
}