:root {
     --color-white: #fff;
     --color-black: #000;
     --color-gray: rgb(121, 121, 121);
     --color-main: #406AFF;
     --color-main-hover: #6587ff;
     --color-border: #5b5b5b21;

     --blur-small: 10px;
     --blur-medium: 14px;
     --blur-large: 20px;

     --primary: #222225;
     --primary-hover: #2A2A2E;

     
     --main-font: 'OpenSans';

     --radius-small: 3px;
     --radius-medium: 5px;
     --radius-semi: 8px;
     --radius-large: 10px;

     --transition: 0.3s;

     --min-width: 360px;
     --container-max-width: 1400px;
}