.primary, .accent, .danger {
     border-radius: var(--radius-semi);
     padding: 15px 26px;
}

.primary {
     background-color: var(--primary);

     &:hover {
          background-color: var(--primary-hover);
     }
}

.danger {
     background-color: #c25656;

     &:hover {
          background-color: #d56262;
     }
}



.accent {
     background-color: var(--color-main);

     &:hover {
          background-color: var(--color-main-hover);
     }
}


.default {
     background-color: transparent;
     &:hover {
          color: var(--color-main);
          svg {
               path, circle, line {
                    stroke: var(--color-main);
               }
          }
     }
}

.isLoading {
     position: relative;
     display: inline-flex;
     align-items: center;
     pointer-events: none;
     @keyframes rotation {
          0% {
               transform: rotate(0deg);
          }
          100% {
               transform: rotate(360deg);
          }
     }
     &:before {
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 3px solid var(--color-white);
          border-bottom-color: transparent;
          opacity: .6;
          display: block;
          animation: rotation 1s linear infinite;
          margin-right: 5px;

     }
}

.button {
     display: flex;
     align-items: center;
     cursor: pointer;
     font-size: 15px;
     font-family: var(--main-font);
     transition: var(--transition);
     color: var(--color-white);
     border: 0;
     svg {
          width: 19px;
          height: 19px;
          margin-right: 10px;
          path, circle, line {
               transition: var(--transition);
          }
     }
}

.button:disabled {
     opacity: 0.6;
     pointer-events: none;
}