.filter_panel {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
     position: relative;
     margin-bottom: 20px;

     @media all and (max-width: 479px) {
          flex-direction: column;
          align-items: stretch;
          row-gap: 10px;
     }

     &__dropdown {
          position: absolute;
          top: calc(100% + 10px);
          left: 0;
          right: 0;
          background-color: #121212;
          border-radius: var(--radius-medium);
          padding: 20px;
          z-index: 10;
          display: none;

          &.opened {
               display: block;
          }
     }

     &__fields {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 15px;
          row-gap: 15px;

          @media all and (max-width: 768px) {
               grid-template-columns: repeat(2, 1fr);
          }

          @media all and (max-width: 480px) {
               grid-template-columns: 100%;
          }
     }


     &__filter_btn {
          font-size: 16px;
          border-radius: var(--radius-medium);
          padding: 8px 20px;
          font-weight: 300;
     }

     &__btns {
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          column-gap: 15px;

          @media all and (max-width: 479px) {
               flex-direction: column;
               align-items: stretch;
               row-gap: 10px;
               button {
                    justify-content: center;
               }
          }
     }
}