.header {
     background-color: var(--color-black);
     position: sticky;
     top: 0;
     z-index: 10000;
     &__in {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 20px;
          padding-bottom: 20px;
     }

     &__left, &__right {
          display: flex;
          align-items: center;
     }

     &__right {
          flex-wrap: wrap;
          column-gap: 20px;
     }
}
