.navigation {
     padding-left: 40px;

     &__list {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
     }

     &__item {
          a {
               text-decoration: none;
               color: var(--color-white);
               position: relative;
               display: inline-block;
               padding-bottom: 3px;
               &:before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 1px;
                    background-color: var(--color-main);
                    transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
               }

               &:hover, &:global(.active) {
                    &:before {
                         width: 100%;
                    }
               }
          }
     }
}