.noAuthForm {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: var(--primary);
    width: max-content;
    padding: 15px;
    border-radius: var(--radius-medium);
}

.info {
    display: flex;
    align-items: center;
}

.noAuthButton {
    text-decoration: underline;
}

.dropDown {
    position: relative;
    margin-left: 10px;
    margin-top: -13px;
    .dropDownList {
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        border-radius: var(--radius-large);
        overflow: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        pointer-events: none;
        right: 0;
        transition: var(--transition);

        z-index: 10;
        svg {
            fill: var(--color-white);
        }
    }
    .dropDownTrigger {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg {
            width: 100%;
            height: 100%;
            transition: var(--transition);
            fill: var(--color-white);
            opacity: .3;
        }
    }

    &:hover {
        .dropDownList {
            opacity: 1;
            pointer-events: all;
        }
        .dropDownTrigger {
            svg {
                opacity: .7;
            }   
        }
    }
}

.deleteBtn {
    color: indianred;
    svg {
        fill: indianred !important;
    }
}

.getMoreBtn {
    margin-left: 70px;
    margin-top: 20px;
}
.listWrap {
    padding: 20px;
    border-radius: var(--radius-large);
    border: 2px solid var(--primary);
}
.list {
    max-height: 500px;
    scroll-behavior: smooth;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }


    &::-webkit-scrollbar-thumb {
        background-color: #808080;
        border-radius: 2px;
    }
}

.form {
    max-width: 700px;
    margin-top: 20px;
}

.formField {
    margin-bottom: 20px;
}

.commentItem {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}

.formFieldLabel {
    margin-bottom: 5px;
    display: inline-block;
}

.comment {
    background-color: var(--primary);
    border-radius: 0 var(--radius-large) var(--radius-large) var(--radius-large);
    margin-left: 70px;
    padding: 15px;
    margin-top: 5px;
    font-size: 20px;
    max-width: max-content;
}

.commentRate {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    :global(.ant-rate-star) {
        font-size: 16px;
        margin-inline-end: 2px !important;
    }
    .formFieldLabel {
        margin-bottom: 0;
        font-size: 15px;
        margin-right: 5px;
    }
}