.item {
     border-radius: var(--radius-large);
     overflow: hidden;
     border: 1px solid var(--color-border);
     background-color: var(--primary);
     position: relative;
     transition: var(--transition);

     $self: &;

     &__no_pic {
          background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff90' width='800px' height='800px' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 15a1 1 0 0 1-2 0V8A6 6 0 1 0 2 8v7a1 1 0 0 1-2 0V8a8 8 0 1 1 16 0v7zm-4-3a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1zm-4 0a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1zm-4 0a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1zm2-6a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm4 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z' fill-rule='evenodd'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 80px;
          background-position: center;
     }

     &__link {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 3;
     }

     &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: var(--color-black);
          opacity: 0;
          pointer-events: none;
          transition: var(--transition);
          z-index: 2;
     }

     &__pic {
          position: relative;
          padding-top: 150%;
          width: 100%;
          img {
               position: absolute;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;
          }
     }

     &__info {
          padding: 20px;
          position: absolute;
          bottom: 0;
          left: 0;
          opacity: 0;
          transition: var(--transition);
          z-index: 3;
          transform: translateY(-5px);

          @media all and (max-width: 480px) {
               padding: 10px;
          }
     }

     &__title {
          font-size: 17px;
          font-weight: 600;
          margin-bottom: 10px;

          @media all and (max-width: 480px) {
               font-size: 14px;
          }
     }

     &__info_bot {
          font-size: 14px;
          font-weight: 600;
          opacity: .8;
          display: flex;
          align-items: center;

          @media all and (max-width: 480px) {
               font-size: 13px;
               flex-direction: column;
               align-items: flex-start;
          }
     }

     &__year {
          margin-right: 15px;
     }

     :global(.global-rating) {
          position: absolute;
          top: 10px;
          right: 10px;
          opacity: 0;
          transition: var(--transition);
          z-index: 2;
     }

     &:hover {
          transform: scale(1.03);
          &::before {
               opacity: 0.8;
          }
          #{$self}__info {
               opacity: 1;
               transform: translateY(0);
          }

          :global(.global-rating) {
               opacity: 1;
          }
     }

     
}